In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
df=pd.read_csv('eBM_cleaned_data.csv')
df.head()

,SUPERVISOR,PROJECT_DESCRIPTION,project_id,supervisor_id,AR-VR,Accountancy,Action Research,Aeronautical,Aerospace,Africa,...,Warehousing,Web 2.0,Workflow,Workload,company-based project,digital technology,e-commerce,eBusiness,gender,industry-based project
0,Amanda Dowd,The areas that I would be interested in superv...,1,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,Amanda Dowd,INTRODUCTION\r\n\r\nWith increasing numbers of...,2,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,Nigel Denton,If you are thinking about a project in the are...,3,159,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Des Doran,Exploring the impact of sustainable issues upo...,4,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Des Doran,This project should explore how strategic posi...,5,58,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,SUPERVISOR,PROJECT_TITLE,PROJECT_DESCRIPTION,PROJECT_TAGS,supervisor_id,Accountancy,Action Research,Aeronautical,Aerospace,Africa,...,UK,Value,Venture,Verification and validation,Vessel,Visibility,Warehousing,Web 2.0,Workflow,Workload
0,Amanda Dowd,Student Defined Project in the area of Educati...,The areas that I would be interested in superv...,"Information management,Social media,eBusiness,...",26,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Amanda Dowd,The use of on-line technology in academic cour...,INTRODUCTION\r\n\r\nWith increasing numbers of...,"Programme management,Information management,eB...",26,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Nigel Denton,Student proposed project normally in Engineeri...,If you are thinking about a project in the are...,"eBusiness,Financial issues,Innovation,Entrepre...",359,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Des Doran,Sustainable Operations,Exploring the impact of sustainable issues upo...,"Operational issues,Sustainability,Sustainable ...",138,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Des Doran,Operations Strategy,This project should explore how strategic posi...,"Supply chain,Operational issues,Strategic mana...",138,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.drop(columns=["SUPERVISOR","PROJECT_DESCRIPTION"],inplace=True)
df.head()

,project_id,supervisor_id,AR-VR,Accountancy,Action Research,Aeronautical,Aerospace,Africa,Agile,Analysis,...,Warehousing,Web 2.0,Workflow,Workload,company-based project,digital technology,e-commerce,eBusiness,gender,industry-based project
0,1,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,159,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,58,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,58,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# df_svd=df.groupby('supervisor_id').max()
df=df.sort_values(by = 'supervisor_id',axis = 0,ascending = True)
df.head()

,project_id,supervisor_id,AR-VR,Accountancy,Action Research,Aeronautical,Aerospace,Africa,Agile,Analysis,...,Warehousing,Web 2.0,Workflow,Workload,company-based project,digital technology,e-commerce,eBusiness,gender,industry-based project
470,471,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
582,583,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
469,470,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
11,12,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,13,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
project_id=df["project_id"]
supervisor_id=df["supervisor_id"]
df.drop(columns=["project_id","supervisor_id"],inplace=True)
df_svd=df
df_svd.head()

,AR-VR,Accountancy,Action Research,Aeronautical,Aerospace,Africa,Agile,Analysis,App development,Artificial Intelligence (AI),...,Warehousing,Web 2.0,Workflow,Workload,company-based project,digital technology,e-commerce,eBusiness,gender,industry-based project
470,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
582,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
469,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
from sklearn.decomposition import TruncatedSVD
from scipy.sparse import random as sparse_random

X=df_svd
svd = TruncatedSVD(n_components=50, n_iter=7, random_state=42)
svd.fit(X)
print(svd.explained_variance_ratio_.sum())

0.7384806931949478

In [6]:
print(svd.explained_variance_ratio_.sum())

0.825562676201772

In [7]:
X_new=svd.fit_transform(X)
print(X_new)

[[ 1.02221661 -0.90533743 -0.19587516 ...  0.24895461 -0.04491698
  -0.12918149]
 [ 1.31961596 -0.43459805 -0.54204809 ...  0.11205878  0.08440669
   0.19982118]
 [ 1.04705973 -0.84900193 -0.09699059 ... -0.12376717  0.34181605
  -0.02924079]
 ...
 [ 0.43749299 -0.48386498 -0.29359736 ...  0.00832354  0.06582283
   0.0938531 ]
 [ 0.72250943 -0.91501282 -0.38273398 ...  0.07308574 -0.0316562
  -0.00752814]
 [ 0.72250943 -0.91501282 -0.38273398 ...  0.07308574 -0.0316562
  -0.00752814]]

In [9]:

print(df_new.shape)

(737, 50)

In [10]:
X_new=svd.fit_transform(X)
df_new=pd.DataFrame(X_new)
df_new["project_id"]=project_id
df_new["supervisor_id"]=supervisor_id
df_new.head()

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,project_id,supervisor_id
0,1.022217,-0.905337,-0.195875,0.316045,0.018295,0.004013,0.343454,-0.218226,-0.154284,-0.194378,...,0.127609,0.332468,0.298453,0.128910,0.160461,0.248955,-0.044917,-0.129181,1,12
1,1.319616,-0.434598,-0.542048,0.352484,-0.005406,-0.428776,0.290931,-0.602451,-0.217961,-0.305119,...,-0.075937,0.324936,0.301496,0.195896,-0.295473,0.112059,0.084407,0.199821,2,12
2,1.047060,-0.849002,-0.096991,0.394931,-0.175425,0.066316,-0.533191,0.129800,0.235514,-0.414883,...,-0.057082,-0.037498,0.009302,0.139035,-0.042000,-0.123767,0.341816,-0.029241,3,159
3,0.108012,0.139063,-0.163718,-0.077287,-0.044116,-0.014018,-0.204445,-0.129548,-0.117332,0.073946,...,0.083541,0.160916,-0.208418,0.059122,0.247099,0.035895,0.150284,0.020901,4,58
4,1.437021,0.378664,-0.828858,0.186172,-0.310807,-0.124415,-1.120733,0.030000,0.323439,-0.255787,...,0.055961,0.217419,-0.061273,0.170115,0.446817,-0.578246,0.386577,0.211598,5,58

In [31]:
df_new.to_csv("SVD_result.csv", index=False)