In [1]:
import pandas as pd
import numpy as np
import os
%matplotlib inline

In [2]:
df1=pd.read_csv('eBM_cleaned_data.csv')
print(df1.shape)
df1.drop(columns=["PROJECT_DESCRIPTION","supervisor_id"],inplace=True)
df1.head()

(737, 270)

,SUPERVISOR,project_id,AR-VR,Accountancy,Action Research,Aeronautical,Aerospace,Africa,Agile,Analysis,...,Warehousing,Web 2.0,Workflow,Workload,company-based project,digital technology,e-commerce,eBusiness,gender,industry-based project
0,Amanda Dowd,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,Amanda Dowd,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,Nigel Denton,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Des Doran,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Des Doran,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df2=pd.read_csv('eBM_ratio_data.csv')
print(df2.shape)
df2.head()

(737, 32)

,Technological innovation and digital disruption,Website design,topic2,Enterprise systems,Brand marketing,ERP,Supply Chain,Supply chain technology,topic8,SMES,...,topic22,AUTOmotive,Decision analytics and performance management,SEO management,topic26,Reputation management and Customer reviews,Information system and cloud,Supply chain management,project_id,supervisor_id
0,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,...,0.984896,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,1,12
1,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,...,0.993333,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,2,12
2,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,...,0.742940,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,3,159
3,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707,4,58
4,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707,5,58

In [4]:
df3=pd.read_csv('SVD_result.csv')
print(df3.shape)
df3.head()

(737, 52)

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,project_id,supervisor_id
0,1.022217,-0.905337,-0.195875,0.316045,0.018295,0.004013,0.343454,-0.218226,-0.154284,-0.194378,...,0.127609,0.332468,0.298453,0.128910,0.160461,0.248955,-0.044917,-0.129181,1,12
1,1.319616,-0.434598,-0.542048,0.352484,-0.005406,-0.428776,0.290931,-0.602451,-0.217961,-0.305119,...,-0.075937,0.324936,0.301496,0.195896,-0.295473,0.112059,0.084407,0.199821,2,12
2,1.047060,-0.849002,-0.096991,0.394931,-0.175425,0.066316,-0.533191,0.129800,0.235514,-0.414883,...,-0.057082,-0.037498,0.009302,0.139035,-0.042000,-0.123767,0.341816,-0.029241,3,159
3,0.108012,0.139063,-0.163718,-0.077287,-0.044116,-0.014018,-0.204445,-0.129548,-0.117332,0.073946,...,0.083541,0.160916,-0.208418,0.059122,0.247099,0.035895,0.150284,0.020901,4,58
4,1.437021,0.378664,-0.828858,0.186172,-0.310807,-0.124415,-1.120733,0.030000,0.323439,-0.255787,...,0.055961,0.217419,-0.061273,0.170115,0.446817,-0.578246,0.386577,0.211598,5,58

In [9]:
# result = pd.merge(left, right, on='key')
# df3.drop(columns=["supervisor_id"],inplace=True)
# df3.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,project_id
0,1.022217,-0.905337,-0.195875,0.316045,0.018295,0.004013,0.343454,-0.218226,-0.154284,-0.194378,...,-0.244507,0.127609,0.332468,0.298453,0.128910,0.160461,0.248955,-0.044917,-0.129181,1
1,1.319616,-0.434598,-0.542048,0.352484,-0.005406,-0.428776,0.290931,-0.602451,-0.217961,-0.305119,...,-0.151567,-0.075937,0.324936,0.301496,0.195896,-0.295473,0.112059,0.084407,0.199821,2
2,1.047060,-0.849002,-0.096991,0.394931,-0.175425,0.066316,-0.533191,0.129800,0.235514,-0.414883,...,-0.076438,-0.057082,-0.037498,0.009302,0.139035,-0.042000,-0.123767,0.341816,-0.029241,3
3,0.108012,0.139063,-0.163718,-0.077287,-0.044116,-0.014018,-0.204445,-0.129548,-0.117332,0.073946,...,-0.213925,0.083541,0.160916,-0.208418,0.059122,0.247099,0.035895,0.150284,0.020901,4
4,1.437021,0.378664,-0.828858,0.186172,-0.310807,-0.124415,-1.120733,0.030000,0.323439,-0.255787,...,-0.085547,0.055961,0.217419,-0.061273,0.170115,0.446817,-0.578246,0.386577,0.211598,5

In [5]:
final_df = pd.merge(df1, df2, on='project_id')
final_df.head()

,SUPERVISOR,project_id,AR-VR,Accountancy,Action Research,Aeronautical,Aerospace,Africa,Agile,Analysis,...,Business Operations,topic22,AUTOmotive,Decision analytics and performance management,SEO management,topic26,Reputation management and Customer reviews,Information system and cloud,Supply chain management,supervisor_id
0,Amanda Dowd,1,0,0,0,0,0,0,0,0,...,0.000521,0.984896,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,12
1,Amanda Dowd,2,0,0,0,0,0,0,0,0,...,0.000230,0.993333,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,12
2,Nigel Denton,3,0,0,0,0,0,0,0,0,...,0.002222,0.742940,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,159
3,Des Doran,4,0,0,0,0,0,0,0,0,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707,58
4,Des Doran,5,0,0,0,0,0,0,0,0,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707,58

In [6]:
print(final_df.shape)

(737, 299)

In [13]:
final_df.to_csv("final_result.csv", index=False)

In [7]:
# Mark_test_distionary={"Website optimisation":1,"Website design":0.9,"SEO management":0.8,"Information system and cloud":0.7,\
#                 "Business Operations":0.6,"SMEs":0.5,"Brand marketing":0.4,"Technological innovation and digital disruption":0.3,\
#                 "Reputation management and Customer reviews":0.2,"Decision analytics and performance management":0.1,\
#                  "digital technology":1,"e-commerce":1,"eBusiness":1,"SUPERVISOR":"TEST DATA","project_id":738,"supervisor_id":738\
#                      "Cloud":1,"SMEs":1," Social media":1,"Technology":1}
# James_test_distionary={"Technological innovation and digital disruption":1,"SEO management":0.9,"Reputation management and Customer reviews":0.8,"Brand marketing":0.7,\
#                 "Website optimisation":0.6,"Website design":0.5,"Mobile apps":0.4,"Decision analytics and performance management":0.3,\
#                 "Growth hacking":0.2,"AI and data science":0.1,\
#                  "App development":1,"Artificial Intelligence (AI)":1,"Best practice":1,"SUPERVISOR":"TEST DATA","project_id":738,"supervisor_id":738,\
#                      "Internet":1,"Data analytics":1,"Entrepreneurship":1,"International":1,\
#                       "Branding":1,"Internet of Things (IoT)":1,"Optimisation":1,"digital technology":1,\
#                       "digital technology":1,"e-commerce":1,"eBusiness":1}
James_test_distionary={"AI and data science":1,"Decision analytics and performance management":0.9,"Information system and cloud":0.8,"Reputation management and Customer reviews":0.7,\
                "Website design":0.6,"Technological innovation and digital disruption":0.5,"Business Operations":0.4,"Mobile apps":0.3,\
                "Website optimisation":0.2,"Brand marketing":0.1,\
                 "Agile":1,"Artificial Intelligence (AI)":1,"App development":1,"SUPERVISOR":"TEST DATA","project_id":738,"supervisor_id":738,\
                     "Blockchain":1,"Data analytics":1,"Cloud":1,"Computer programming":1,\
                      "Decision making":1,"Internet of Things (IoT)":1,"Human machine interface":1,"Key Performance Indicators - KPI":1,\
                      "Machine Learning":1,"eBusiness":1}
final_df = final_df.append([James_test_distionary], ignore_index=True)

In [8]:
print(final_df.shape)
final_df.isnull().sum(axis=0)

(738, 299)

SUPERVISOR                                    0
project_id                                    0
AR-VR                                         1
Accountancy                                   1
Action Research                               1
                                             ..
topic26                                       1
Reputation management and Customer reviews    0
Information system and cloud                  0
Supply chain management                       1
supervisor_id                                 0
Length: 299, dtype: int64

In [9]:
final_df = final_df.fillna(0)
final_df.iloc[737]#ç¬¬0è¡Œ

SUPERVISOR                                    TEST DATA
project_id                                          738
AR-VR                                                 0
Accountancy                                           0
Action Research                                       0
                                                ...
topic26                                               0
Reputation management and Customer reviews          0.7
Information system and cloud                        0.8
Supply chain management                               0
supervisor_id                                       738
Name: 737, Length: 299, dtype: object

In [17]:
final_df=final_df[0:-1]
print(final_df.shape)

(737, 299)

In [40]:
final_df.iloc[737]

IndexError: single positional indexer is out-of-bounds

In [105]:
final_df = final_df.fillna(0)
final_df.iloc[737]

SUPERVISOR                                    TEST DATA
project_id                                          738
AR-VR                                                 0
Accountancy                                           0
Action Research                                       0
                                                ...
topic26                                               0
Reputation management and Customer reviews          0.2
Information system and cloud                        0.7
Supply chain management                               0
supervisor_id                                       738
Name: 737, Length: 299, dtype: object

In [10]:
df=pd.read_csv('eBM_data.csv')
Tag_list=[]
for tags in df.PROJECT_TAGS:
    taglist=tags.split(",")
    for tag in taglist:
        Tag_list.append(tag)
Tag_final_list=np.unique(Tag_list)
print(Tag_final_list)


df_svd = pd.DataFrame()

['AR-VR' 'Accountancy' 'Action Research' 'Aeronautical' 'Aerospace'
 'Africa' 'Agile' 'Analysis' 'App development'
 'Artificial Intelligence (AI)' 'Asia' 'Assessment' 'Assets' 'Automation'
 'Automotive' 'Autonomous Vehicles' 'Aviation' 'Balancing'
 'Battery manufacture' 'Battery materials' 'Battery modelling'
 'Battery testing and characterisation' 'Behavioural study'
 'Best practice' 'Blockchain' 'Branding' 'Brexit' 'Britain' 'Business'
 'Business Excellence' 'Business administration' 'Business model'
 'Business practices' 'Business support' 'Carbon management'
 'Change management' 'Chemical' 'Circular economy' 'Cloud' 'Collaboration'
 'Commercial' 'Communications' 'Comparative analysis' 'Competences'
 'Competitive' 'Compiled computer languages' 'Complex'
 'Computer programming' 'Computing' 'Connectivity' 'Construction'
 'Contracts' 'Control systems' 'Corporate Social Reponsibility'
 'Creative thinking' 'Cultural' 'Cyber certification'
 'Cyber-physical Systems' 'Cybersecurity' 'Data accuracy' 'Data analytics'
 'Data presentation' 'Data protection' 'Decision making' 'Design'
 'Development' 'Disruptive' 'Economics' 'Education' 'Efficiency'
 'Electric vehicle' 'Emerging' 'Energy' 'Engineering administration'
 'Engineering application' 'Engineering industries'
 'Engineering practices' 'Enterprise' 'Entrepreneurship' 'Environmental'
 'Espionage' 'Ethics' 'European' 'Eurozone' 'Events'
 'Expectation Management' 'FMCG companies' 'Failure' 'Fair trade'
 'Family business' 'Finance' 'Financial issues' 'Forecasting' 'Franchise'
 'Fulfillment' 'Future' 'Global' 'Governance' 'Growth' 'Healthcare'
 'Human aspects of information security' 'Human machine interface'
 'Human resources' 'Hybrid Vehicles'
 'ICT - Information and communications technology' 'ISO standards'
 'IT Governance' 'Impact analysis' 'Improvement' 'In-company application'
 'Individual' 'Industry 4.0' 'Information management'
 'Information security' 'Infrastructure' 'Innovation' 'Intangible assets'
 'Integration' 'Intellectual Property' 'Intellectual capital'
 'International' 'Internet' 'Internet of Things (IoT)'
 'Interpreted computer languages' 'Interviews' 'Inventory' 'Investigative'
 'Investment' 'Joint venture' 'Kaizen' 'Key Performance Indicators - KPI'
 'Knowledge management' 'Knowledge transfer' 'Leadership' 'Lean' 'Legacy'
 'Legal' 'Lightweighting' 'Literature Review' 'Local' 'Logistics'
 'Machine Learning' 'Maintenance engineering' 'Management' 'Manufacturing'
 'Manufacturing systems' 'Market definition' 'Market evaluation'
 'Marketing' 'Markets' 'Material' 'Methodologies' 'Mining'
 'Mixed methods analysis' 'Modelling' 'Monetisation' 'Motivation' 'NGO'
 'National' 'Natural resources' 'Negotiation' 'Network defence'
 'North America' 'Not for profit' 'Oil and gas' 'Omni-channel management'
 'On-Shelf Availability' 'Operational issues' 'Operations Management'
 'Operations Strategy' 'Optimisation' 'Organisational behaviour'
 'Organisational development' 'Organisational learning' 'Outsourcing'
 'Patents' 'Performance' 'Pharmaceutical' 'Planning' 'Policy'
 'Portfolio management' 'Prince2' 'Problem' 'Process'
 'Process Improvement' 'Procurement' 'Product development' 'Production'
 'Professional development' 'Programme management' 'Programme risk'
 'Project finance' 'Project management' 'Project risk' 'Property'
 'Propulsion' 'Purchasing' 'Qualitative analysis' 'Quality Management'
 'Quantitative analysis' 'Rail' 'Recycling' 'Reengineering' 'Regional'
 'Renewable energy' 'Reputation' 'Research' 'Resource'
 'Resource management' 'Retail supply chain management' 'Risk Management'
 'Risk evaluation' 'SERVQUAL' 'SMEs' 'Safety analysis' 'Sales' 'Scenario'
 'Security' 'Security architectures' 'Services' 'Shipping' 'Simulation'
 'Six Sigma' 'Smart vehicles' 'Social media' 'Society'
 'Software development' 'South America' 'Sponsor' 'Stakeholder Management'
 'Start-up' 'Statistical analysis' 'Statistical modelling'
 'Strategic management' 'Strategy' 'Structure' 'Student defined project'
 'Supply chain' 'Support' 'Sustainability' 'Sustainable Operations'
 'Systems Thinking' 'Systems engineering' 'Team' 'Technical management'
 'Technology' 'Test project tag' 'Testing' 'Tools' 'Trade' 'Training'
 'Transport' 'UK' 'Value' 'Venture' 'Verification and validation'
 'Warehousing' 'Web 2.0' 'Workflow' 'Workload' 'company-based project'
 'digital technology' 'e-commerce' 'eBusiness' 'gender'
 'industry-based project']

In [11]:
for tag in Tag_final_list:
    df_svd[tag]=final_df[tag]
    final_df.drop(columns=[tag],inplace=True)
df_svd["project_id"]=final_df["project_id"]
print(df_svd.shape)

(738, 267)

In [12]:

df_svd.head()

,AR-VR,Accountancy,Action Research,Aeronautical,Aerospace,Africa,Agile,Analysis,App development,Artificial Intelligence (AI),...,Web 2.0,Workflow,Workload,company-based project,digital technology,e-commerce,eBusiness,gender,industry-based project,project_id
0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,2
2,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,5

In [13]:
final_df.head()

,SUPERVISOR,project_id,Technological innovation and digital disruption,Website design,topic2,Enterprise systems,Brand marketing,ERP,Supply Chain,Supply chain technology,...,Business Operations,topic22,AUTOmotive,Decision analytics and performance management,SEO management,topic26,Reputation management and Customer reviews,Information system and cloud,Supply chain management,supervisor_id
0,Amanda Dowd,1,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,...,0.000521,0.984896,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,12
1,Amanda Dowd,2,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,...,0.000230,0.993333,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,12
2,Nigel Denton,3,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,...,0.002222,0.742940,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,159
3,Des Doran,4,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707,58
4,Des Doran,5,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.970707,58

In [14]:
from sklearn.decomposition import TruncatedSVD
from scipy.sparse import random as sparse_random
project_id=df_svd["project_id"]
df_svd.drop(columns=["project_id"],inplace=True)
X=df_svd
svd = TruncatedSVD(n_components=50, n_iter=7, random_state=42)
svd.fit(X)

TruncatedSVD(algorithm='randomized', n_components=50, n_iter=7, random_state=42,
             tol=0.0)

In [15]:
print(svd.explained_variance_ratio_.sum())
X_new=svd.fit_transform(X)
print(X_new)

0.7381724166255202
[[ 1.02237259 -0.90315444 -0.20449695 ...  0.2140909  -0.01333362
   0.19934384]
 [ 1.3195472  -0.43089194 -0.54494365 ...  0.09274912  0.08327085
  -0.13265723]
 [ 1.04719105 -0.84689896 -0.10774767 ... -0.1188388   0.33292706
  -0.05224234]
 ...
 [ 0.72280076 -0.91245269 -0.38981479 ...  0.07922528 -0.0289732
   0.01897241]
 [ 0.72280076 -0.91245269 -0.38981479 ...  0.07922528 -0.0289732
   0.01897241]
 [ 0.84662235 -0.59797889  1.02417483 ...  0.55100092 -0.11862797
  -0.34698738]]

In [16]:
df_new=pd.DataFrame(X_new)
print(df_new.shape)
df_new["project_id"]=project_id
df_new.head()

(738, 50)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,project_id
0,1.022373,-0.903154,-0.204497,0.314792,0.013726,0.001448,0.344724,-0.216452,-0.168024,-0.199065,...,-0.256555,0.102053,0.351963,0.301696,0.117080,0.155774,0.214091,-0.013334,0.199344,1
1,1.319547,-0.430892,-0.544944,0.345248,-0.018470,-0.432300,0.291320,-0.598040,-0.241459,-0.306149,...,-0.101798,-0.139379,0.347152,0.322046,0.198701,-0.289727,0.092749,0.083271,-0.132657,2
2,1.047191,-0.846899,-0.107748,0.395581,-0.174311,0.069391,-0.532557,0.132529,0.216577,-0.426401,...,-0.062455,-0.065073,-0.035942,0.017630,0.141700,-0.033386,-0.118839,0.332927,-0.052242,3
3,0.107933,0.139735,-0.161076,-0.079637,-0.044776,-0.013502,-0.203775,-0.126287,-0.122401,0.071970,...,-0.234052,0.086110,0.153877,-0.206834,0.058997,0.252995,0.017044,0.154047,-0.015530,4
4,1.436132,0.385720,-0.830145,0.178146,-0.312889,-0.119264,-1.120027,0.036475,0.297740,-0.280541,...,-0.093109,0.052778,0.216619,-0.042575,0.175605,0.461813,-0.531776,0.320239,-0.343067,5

In [17]:
df_new.iloc[737]

0               0.846622
1              -0.597979
2               1.024175
3              -0.382604
4              -0.391345
5              -0.178414
6               0.244151
7               0.248617
8              -0.672492
9              -0.399707
10             -0.479525
11             -0.391826
12              0.433874
13              0.463035
14              0.724770
15              0.429267
16             -0.171450
17             -0.312595
18              0.327914
19              0.287977
20              0.080578
21             -0.273778
22             -0.753762
23              0.587172
24             -0.773963
25              0.331817
26              0.211599
27             -0.035032
28              0.335180
29              0.237161
30              0.032153
31             -0.562910
32              0.150448
33              0.378812
34             -0.007731
35             -0.011818
36              0.288211
37              0.220556
38             -0.417251
39             -0.496599
40             -0.062965
41             -0.142824
42              0.224718
43             -0.065065
44             -0.332066
45             -0.103671
46             -0.069868
47              0.551001
48             -0.118628
49             -0.346987
project_id    738.000000
Name: 737, dtype: float64

In [18]:
final_new_df = pd.merge( final_df,df_new, on='project_id')
print(final_new_df.shape)

(738, 83)

In [19]:

X_new=svd.fit_transform(X)
df_new=pd.DataFrame(X_new)
df_new["project_id"]=project_id
final_new_df = pd.merge( final_df,df_new, on='project_id')
final_new_df.head()

,SUPERVISOR,project_id,Technological innovation and digital disruption,Website design,topic2,Enterprise systems,Brand marketing,ERP,Supply Chain,Supply chain technology,...,40,41,42,43,44,45,46,47,48,49
0,Amanda Dowd,1,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,0.000521,...,0.235207,-0.256555,0.102053,0.351963,0.301696,0.117080,0.155774,0.214091,-0.013334,0.199344
1,Amanda Dowd,2,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,0.000230,...,-0.012135,-0.101798,-0.139379,0.347152,0.322046,0.198701,-0.289727,0.092749,0.083271,-0.132657
2,Nigel Denton,3,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,0.002222,...,-0.366821,-0.062455,-0.065073,-0.035942,0.017630,0.141700,-0.033386,-0.118839,0.332927,-0.052242
3,Des Doran,4,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,0.052045,-0.234052,0.086110,0.153877,-0.206834,0.058997,0.252995,0.017044,0.154047,-0.015530
4,Des Doran,5,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,0.001010,...,-0.160344,-0.093109,0.052778,0.216619,-0.042575,0.175605,0.461813,-0.531776,0.320239,-0.343067

In [20]:
table=pd.DataFrame()
table["SUPERVISOR"]=final_new_df["SUPERVISOR"]
table["project_id"]=final_new_df["project_id"]
table["supervisor_id"]=final_new_df["supervisor_id"]
final_new_df.drop(columns=["project_id","SUPERVISOR"],inplace=True)
table.head()

     SUPERVISOR  project_id  supervisor_id
0   Amanda Dowd           1             12
1   Amanda Dowd           2             12
2  Nigel Denton           3            159
3     Des Doran           4             58
4     Des Doran           5             58

In [21]:

final_new_df.sort_values(by=["supervisor_id"], axis=0, ascending=True, inplace=True)
final_new_df.head()

,Technological innovation and digital disruption,Website design,topic2,Enterprise systems,Brand marketing,ERP,Supply Chain,Supply chain technology,topic8,SMES,...,40,41,42,43,44,45,46,47,48,49
470,0.000606,0.000606,0.000606,0.000606,0.000606,0.000606,0.000606,0.000606,0.000606,0.000606,...,0.057865,-0.180237,0.371535,0.094017,0.139227,-0.271702,0.013204,-0.217809,0.172035,-0.030543
469,0.000709,0.000709,0.000709,0.000709,0.000709,0.000709,0.000709,0.000709,0.000709,0.000709,...,-0.234468,-0.337976,0.122993,0.004908,-0.493001,-0.614518,0.091373,-0.134314,0.259583,-0.462923
582,0.001075,0.001075,0.001075,0.001075,0.001075,0.001075,0.001075,0.001075,0.001075,0.001075,...,-0.112268,-0.297064,0.162582,-0.086253,-0.222524,-0.004991,0.063847,-0.150334,0.012757,0.158822
12,0.001961,0.001961,0.001961,0.001961,0.001961,0.001961,0.001961,0.001961,0.001961,0.001961,...,-0.013447,0.107313,-0.002377,-0.100131,-0.039111,0.019675,0.035991,-0.042591,0.023605,0.038558
11,0.000370,0.000370,0.000370,0.000370,0.000370,0.000370,0.000370,0.000370,0.000370,0.775588,...,-0.059392,0.069836,-0.026872,-0.134913,0.091093,-0.047762,0.055104,-0.066119,0.080158,0.146496

In [22]:
from sklearn.datasets import make_classification
from sklearn.ensemble import GradientBoostingClassifier
Train_set=final_new_df[0:-1]
Y_train=Train_set["supervisor_id"]
Train_set.drop(columns=["supervisor_id"],inplace=True)
X_train=Train_set
print(X_train.shape)
print(Y_train.shape)

(737, 80)
(737,)

D:\Warwick\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:

X_test=final_new_df[737:738]
X_test.drop(columns=["supervisor_id"],inplace=True)

In [24]:
print(X_test.shape)
print(X_test)

(1, 80)
     Technological innovation and digital disruption  Website design  topic2  \
737                                              0.5             0.6     0.0

     Enterprise systems  Brand marketing  ERP  Supply Chain  \
737                 0.0              0.1  0.0           0.0

     Supply chain technology  topic8  SMES  ...        40        41        42  \
737                      0.0     0.0   0.0  ... -0.062965 -0.142824  0.224718

           43        44        45        46        47        48        49
737 -0.065065 -0.332066 -0.103671 -0.069868  0.551001 -0.118628 -0.346987

[1 rows x 80 columns]

In [25]:
from sklearn.datasets import make_classification
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier()
est=clf.fit(X_train, Y_train)
Y_predict=clf.predict(X_test)
print(Y_predict)

[47]

In [26]:



Y_predict_prob= clf.predict_proba(X_test)
print(Y_predict_prob)

[[1.38546749e-29 2.21084478e-28 2.48498157e-32 1.09867177e-29
  2.48502024e-32 1.24552258e-32 2.48543517e-32 7.61948855e-32
  1.02093632e-27 8.38511163e-32 1.24552258e-32 2.48494641e-32
  1.13561791e-30 2.26157242e-29 1.24554605e-32 1.24552258e-32
  1.24554605e-32 2.48495923e-32 8.74499102e-29 1.24552258e-32
  4.11225079e-29 2.48527887e-32 1.24552258e-32 2.48496131e-32
  1.24552258e-32 1.24554605e-32 1.24554605e-32 4.00276170e-32
  1.24554605e-32 9.79788313e-29 1.13608970e-30 1.24554605e-32
  4.51909172e-29 4.87802122e-29 3.29795557e-29 2.62197315e-31
  1.46931177e-28 1.57551914e-29 1.24552258e-32 4.99496032e-28
  2.48500536e-32 2.48499812e-32 1.24552258e-32 1.24552258e-32
  3.01325660e-29 2.48502408e-32 1.00000000e+00 1.82619338e-31
  3.80300988e-32 1.30936416e-29 4.02356058e-32 4.35777863e-29
  1.24552258e-32 2.48497318e-32 1.93142882e-29 1.28542889e-24
  1.24554605e-32 3.79880307e-32 5.29545931e-29 3.85456628e-32
  7.29143600e-30 1.24552258e-32 2.48501970e-32 1.24552258e-32
  3.75692478e-21 1.08211347e-29 1.24552258e-32 1.24552258e-32
  2.48496651e-32 1.61200990e-28 1.24552258e-32 6.87442719e-29
  2.48500743e-32 2.11822525e-29 2.48520617e-32 1.24552258e-32
  3.23565925e-23 1.24552258e-32 2.48494612e-32 2.48532274e-32
  1.24552258e-32 1.20011406e-29 1.24552258e-32 8.00630863e-29
  1.54739812e-29 1.15008293e-29 2.23423227e-29 1.48837974e-28
  2.48498154e-32 1.24554605e-32 1.38907381e-29 1.24554605e-32
  1.70970138e-29 2.48502636e-32 1.24552258e-32 2.48518303e-32
  1.75954985e-27 1.24552258e-32 2.49231626e-32 2.48501979e-32
  1.24552258e-32 1.24552258e-32 4.20902600e-29 1.55002650e-27
  7.30407956e-31 5.76200251e-30 1.94319341e-28 1.24552258e-32
  1.24552258e-32 1.24552258e-32 2.48498042e-32 5.90007403e-29
  2.57821776e-30 3.76429995e-32 4.85888120e-29 1.24554605e-32
  1.73776632e-28 2.08301691e-29 3.91213539e-32 1.24552258e-32
  1.24552258e-32 2.48501976e-32 1.24552258e-32 1.85079288e-29
  4.43309667e-29 1.24552258e-32 6.04737269e-30 6.47232312e-28
  2.49220625e-32 2.37993333e-27 1.24552258e-32 6.93890856e-25
  6.47995995e-24 9.05771047e-29 2.34074334e-16 1.70031465e-29
  2.49220625e-32 4.24094774e-29 1.24552258e-32 6.71729267e-29
  7.02300555e-28 3.78601495e-32 9.47411204e-27 2.48518738e-32
  1.24552258e-32 1.73925548e-29 1.24552258e-32 1.24552258e-32
  1.24552258e-32 2.48527235e-32 7.43223575e-30 5.23161704e-30
  2.48520547e-32 1.24552258e-32 2.48519085e-32 1.24552258e-32
  1.32291144e-29 8.64342748e-29 1.24552258e-32 2.25854772e-22
  1.50779475e-31 2.36077748e-29 9.62013858e-30 1.72723926e-29
  1.86787674e-29 1.99710109e-29 2.48509400e-32 1.24552258e-32
  2.48498050e-32 2.92844233e-29 1.88445129e-29 1.21817235e-29
  1.24554605e-32 1.24552258e-32 1.24554605e-32 2.48500148e-32
  2.39903719e-21 2.48496807e-32 2.48498021e-32 1.24554605e-32
  4.87818224e-30 1.24552258e-32 1.24552258e-32 1.71199312e-31
  1.24554605e-32 2.49220625e-32 1.24552258e-32 1.63521938e-29
  1.24552258e-32 1.24552258e-32 1.24552258e-32 1.24552258e-32
  6.68007714e-32 6.94994558e-29 3.49579592e-29 2.48499978e-32
  1.51457239e-29 1.24552258e-32 5.49132557e-29 1.16929232e-29
  1.22048312e-29 1.24554605e-32 1.56534797e-30 3.83633594e-32
  2.48502028e-32 5.26211048e-29 1.24552258e-32 1.24552258e-32
  2.36089469e-29 5.85165220e-26 7.57647071e-29 1.17583801e-23
  2.19594002e-29 6.13509631e-29 1.24552258e-32 1.24552258e-32
  2.48520520e-32 2.48497271e-32 6.05435065e-27]]

In [27]:
import heapq
Y_predict_prob_list = Y_predict_prob[0].tolist()
re1 = map(Y_predict_prob_list.index, heapq.nlargest(20, Y_predict_prob[0]))
ranklist=list(re1)
print(ranklist)

[46, 134, 64, 176, 159, 76, 211, 132, 55, 131, 209, 142, 218, 129, 96, 103, 8, 140, 127, 39]

In [28]:
n=1

for supervisorid in ranklist:

    namelist=table.loc[table["supervisor_id"] == supervisorid+1].SUPERVISOR.tolist()
    print("Top "+str(n)+" Recommended supervisor for you is:")
    print("Supsrvisor name:"+ str(namelist[0]))
    print("Supsrvisor ID:"+ str(supervisorid+1))
    print("")
    n=n+1

Top 1 Recommended supervisor for you is:
Supsrvisor name:Craig Pickin
Supsrvisor ID:47

Top 2 Recommended supervisor for you is:
Supsrvisor name:Martin King-turner
Supsrvisor ID:135

Top 3 Recommended supervisor for you is:
Supsrvisor name:Emily Davis
Supsrvisor ID:65

Top 4 Recommended supervisor for you is:
Supsrvisor name:Robert Bird
Supsrvisor ID:177

Top 5 Recommended supervisor for you is:
Supsrvisor name:Nikolaos Korfiatis
Supsrvisor ID:160

Top 6 Recommended supervisor for you is:
Supsrvisor name:Graham Warren
Supsrvisor ID:77

Top 7 Recommended supervisor for you is:
Supsrvisor name:Xiao Ma
Supsrvisor ID:212

Top 8 Recommended supervisor for you is:
Supsrvisor name:Mark Bonnett
Supsrvisor ID:133

Top 9 Recommended supervisor for you is:
Supsrvisor name:Dee Nicholls
Supsrvisor ID:56

Top 10 Recommended supervisor for you is:
Supsrvisor name:Margaret Low
Supsrvisor ID:132

Top 11 Recommended supervisor for you is:
Supsrvisor name:Wendy Baird
Supsrvisor ID:210

Top 12 Recommended supervisor for you is:
Supsrvisor name:Michael Mortenson
Supsrvisor ID:143

Top 13 Recommended supervisor for you is:
Supsrvisor name:Zina Jerjees
Supsrvisor ID:219

Top 14 Recommended supervisor for you is:
Supsrvisor name:Liyan Hou
Supsrvisor ID:130

Top 15 Recommended supervisor for you is:
Supsrvisor name:James Pennington
Supsrvisor ID:97

Top 16 Recommended supervisor for you is:
Supsrvisor name:Jay Bal
Supsrvisor ID:104

Top 17 Recommended supervisor for you is:
Supsrvisor name:Alexander Kharlamov
Supsrvisor ID:9

Top 18 Recommended supervisor for you is:
Supsrvisor name:Meera Sarma
Supsrvisor ID:141

Top 19 Recommended supervisor for you is:
Supsrvisor name:Lee Griffin
Supsrvisor ID:128

Top 20 Recommended supervisor for you is:
Supsrvisor name:Cheryl Alleyne
Supsrvisor ID:40

In [174]:
a=table.loc[table["supervisor_id"] == 133].SUPERVISOR.tolist()
print(a)

['Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett', 'Mark Bonnett']

,Technological innovation and digital disruption,Website design,topic2,Enterprise systems,Brand marketing,ERP,Supply Chain,Supply chain technology,topic8,SMES,...,40,41,42,43,44,45,46,47,48,49
448,0.000855,0.000855,0.000855,0.000855,0.000855,0.000855,0.000855,0.000855,0.000855,0.000855,...,0.276608,-0.091958,-0.192949,0.246872,-0.487792,-0.352273,-0.349123,-0.357895,-0.231577,-0.351443